In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error
from urllib.request import urlopen

In [3]:
df = pd.read_excel('June Forecast.xlsx',index_col=[0], parse_dates=[0])
df

                     1983
2020-06-01 00:00:00
2020-06-02            406
2020-06-03           2610
2020-06-04           1191
2020-06-05           1300
2020-06-06           1199
2020-06-07           1407
2020-06-08           1255
2020-06-09           1899
2020-06-10           4310
2020-06-11           4866
2020-06-12           3116
2020-06-13            950
2020-06-14           4605
2020-06-15           2608
2020-06-16           2644
2020-06-17           1732
2020-06-18           1166
2020-06-19           3033
2020-06-20           1184
2020-06-21           1068
2020-06-22           1813
2020-06-23           3733
2020-06-24           2402
2020-06-25           1699
2020-06-26           1474
2020-06-27           1344
2020-06-28           1049
2020-06-29           1384
2020-06-30           1573

In [4]:
from sklearn.metrics import mean_squared_error
np.nan_to_num(df)

array([[ 406],
       [2610],
       [1191],
       [1300],
       [1199],
       [1407],
       [1255],
       [1899],
       [4310],
       [4866],
       [3116],
       [ 950],
       [4605],
       [2608],
       [2644],
       [1732],
       [1166],
       [3033],
       [1184],
       [1068],
       [1813],
       [3733],
       [2402],
       [1699],
       [1474],
       [1344],
       [1049],
       [1384],
       [1573]], dtype=int64)